# Framework
starlette
aiofiles
jinja2
uvicorn[standard]
gunicorn

# Application
-e git+https://github.com/lepture/mistune.git#egg=mistune==2.0.0a6
python-frontmatter
libsass
pytz
pygments
requests
html5validate
html5lib
