<!DOCTYPE html>
<html lang="{{ post.lang if post and post.lang else 'en' }}">
  <head>
    <meta charset="utf-8">
    <title>{% if post %}{{ post.title }} - Friendly Bit{% else %}{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ post.content|striptags|truncate(160) if post else site.description }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed/">
    {% if category %}
      <link rel="alternate" type="application/rss+xml" title="Friendly Bit - {{ category|title }}" href="{{ site.url }}/feed/{{ category }}/">
    {% endif %}
    <link rel="icon" href="/favicon.ico">
    <link rel="canonical" href="{{ post.permalink if post else site.url }}">
    <link rel="stylesheet" type="text/css" href="/style.css?{{ site.style_hash }}">
  </head>
  <body>
    <div>
      <a href="#content" class="skiplink">Jump to content</a>
      <span class="hide">or</span>
      <a href="#navigation" class="skiplink">Jump to navigation</a>
    </div>
    <header class="header">
      <a href="/" class="logo">Friendly Bit</a>
      <a href="/contact" class="contact">Contact</a>
      <a href="/feed/" class="feed" aria-label="Subscribe to feed">Feed</a>
      <form method="get" action="https://www.google.com/search" class="search">
        <input name="sitesearch" value="friendlybit.com" type="hidden">
        <input type="search" name="q" class="search-query" placeholder="Search...">
        <button type="submit" class="search-button" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.97 56.97" width="14" height="14">
            <path d="M55.15 51.9L41.6 37.8c3.47-4.16 5.38-9.37 5.38-14.8 0-12.68-10.3-23-23-23s-23 10.32-23 23 10.32 23 23 23c4.77 0 9.3-1.44 13.18-4.16l13.66 14.2c.57.6 1.34.93 2.16.93.78 0 1.52-.3 2.08-.84 1.2-1.15 1.23-3.05.1-4.24zM23.98 6c9.38 0 17 7.63 17 17s-7.62 17-17 17-17-7.63-17-17 7.63-17 17-17z"/>
          </svg>
        </button>
      </form>
    </header>
    <main class="content" id="content" aria-label="content" itemscope itemtype="https://schema.org/Blog">
      {% block content %}
        <ul class="post-list">
          {% for post in posts %}
              <li class="post-list-item">
                <span class="post-link"><a href="{{ post.permalink }}">
                  {{ post.title }}
                </a></span>
                <span class="post-meta">{{ post.date.strftime("%b %-d, %Y") }}</span>
              </li>
          {% endfor %}
        </ul>
        {% if category %}
          « <a href="/">Back to list of all articles</a>
        {% endif %}
      {% endblock %}
    </main>
    {% if 'https://' + request.client.host == site.url and site.google_analytics %}
      {% include "google-analytics.html" %}
    {% endif %}
  </body>
</html>
