.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    background: #278FAF;
    color: #222;
    padding-left: 10px;
    a {
        color: #000;
    }
    > * {
        font-size: 0.9em;
        margin-right: 10px;
        background: white;
        border-radius: 2px;
        padding: 2px 4px;
        text-decoration: none;
        &:hover, &:active {
            background: #eee;
        }
    }
    .logo {
        background: none;
        color: #222;
        font: bold 2em/1.55em "Palatino Linotype", Palatino, serif;
        font-size: 1.5em;
        text-decoration: none;
        white-space: nowrap;
        margin: 0;
        margin-right: auto;
    }
    a.logo:hover {
        text-decoration: underline;
    }
    .contact {
        flex: 0;
    }
    .feed {
        flex: 0;
        display: flex;
        align-items: center;
        svg {
            vertical-align: middle;
            margin-left: 2px;
            * { fill: #222; }
        }
    }
    .search {
        flex: 0;
        display: flex;
        .search-query {
            background: transparent;
            padding: 4px 2px 2px;
            width: 13vw;
            border: none;
            border-radius: 2px 0 0 2px;
            &::placeholder {
                color: #999;
            }
        }
        .search-button {
            border: none;
            border-radius: 0 2px 2px 0;
            background: transparent;
            padding-top: 4px;
        }
    }
}
.content {
    padding: 0 20px;
}
.post-list {
    display: table;
    padding: 0;

    .post-list-item {
        display: table-row;
        list-style: none;
    }
    .post-link {
        display: table-cell;
        font-size: 1.3em;
        padding-bottom: 0.3em;
    }
    .post-meta {
        display: table-cell;
        color: #bbb;
        white-space: nowrap;
        padding-bottom: 0.3em;
        padding-left: 1em;
    }
}
.post {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5em;
    .post-meta {
        color: #bbb;
    }
    .post-content {
        font-size: 1.1em;
        flex: 1 1 25em;
        min-width: 25em;
        max-width: 40em;
        padding-right: 20px;
        margin: 0 auto;
        @media (max-width: 30em) {
            min-width: 0;
            padding-right: 0;
            width: 100%;
        }
    }
    .post-comments {
        flex: 1 1 20em;
        max-width: 30em;
        min-width: 20em;
        background: #eee;
        padding: 0 20px 20px;
        font-size: 0.9em;
        margin-top: 37px;
        .comment-list {
            padding: 0;
            .comment {
                list-style: none;
                margin-bottom: 1em;
                &.is_admin {
                    padding: 5px 10px;
                    background: #ddd;
                    .comment-text {
                        color: #555;
                    }
                }
                .counter {
                    color: #bbb;
                    text-decoration: none;
                }
                .comment_author {
                    display: inline;
                    margin: 0;
                }
                .comment-text {
                    color: #888;
                    p {
                        margin: 0 0 0.5em;
                    }
                }
            }
        }
        .comment_date {
            float: right;
        }
    }
}
